* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header, footer {
    height: 100px;
    border: 2px solid rgb(255, 253, 253);
    clear: both;
}
section {
    float: left;
    width: 33.333%;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
}
div > section {
    width: 50%;
    height: 350px;
    border: 2px solid rgb(21, 255, 0);
}
/* MEDIA QUERIES*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
header, footer {
    background-color: rgb(127, 127, 173);
    max-height: 60px;
}
section {
    background-color: rgb(243, 211, 216);
    max-height: 160px;
}
div> section {
    background-color:rgb(124, 85, 163);
    max-height: 310px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header, footer {
        background-color: rgb(84, 84, 141);
        max-height: 70px;
    }
    section {
        background-color: rgb(170, 108, 155);
        max-height: 170px;
    }
    div> section {
        background-color:rgb(108, 67, 148);
        max-height: 320px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header, footer {
        background-color: rgb(59, 59, 117);
        max-height: 80px;
    }
    section {
        background-color: rgb(139, 62, 120);
        max-height: 180px;
    }
    div> section {
        background-color:rgb(83, 45, 121);
        max-height: 330px;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header, footer {
        background-color: rgb(35, 35, 92);
        max-height: 90px;
    }
    section {
        background-color: rgb(97, 28, 80);
        max-height: 190px;
    }
    div> section {
        background-color:rgb(62, 28, 95);
        max-height: 340px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header, footer {
        background-color: rgb(21, 21, 75);
        max-height: 100px;
    }
    section {
        background-color: rgb(58, 10, 46);
        max-height: 200px;
    }
    div> section {
        background-color:rgb(36, 10, 61);
        max-height: 350px;
    }
}


